body{
    background-color: black;
    margin: 0;
}
#inicio{
    background-color: hotpink;
    width: 100%;
    height: 50px;
    position: fixed;
}
.logo{
    width: 20%;
    height: 100%;
    background-color: indigo;
    float: left;
}
.navbar{
    float: right;
    width: 80%;
    height: 100%;
    background-color: red;
}
.logo span{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none; 
    margin-left: 20px; 
}
.logo span a{
    text-decoration: none;
    color: black;
}
.navbar .opciones{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.navbar .opciones li{
    margin: auto; 
	text-align: center;
	list-style-type: none;	
    font-size: 16px;
    color: white;
}
.navbar .opciones li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.navbar .opciones li a:hover{
    
    text-decoration: underline;
    
}
#hero{
    
    width: 100%;
    height: 500px;
    background-color: blanchedalmond;
}
#hero .carrusel{
    
    width: 100%;
    height: 100%;
    margin: auto;
    
}
#hero .carrusel img{
    width: 100%;
    height: 100%;
}
.portfolio{
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: pink;
    text-align: center;
}
.portfolio span{
    font-size: 40px;
    
}
#experience{
    width: 100%;
    height: 300px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#experience .contenedores1{
    width: 33%;
    height: 100%;
    border: 2px solid black;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
#experience .contenedores1 .titles{
    width: 100%;
    height:10%;
    background-color: chocolate;
}
#experience .contenedores1 .titles h2{
   font-size: 25px;
   text-align: center;
   margin: 3px;
}
#experience .contenedores1 .herramienta{
    width: 100%;
    height: 7.5%;
    padding: 2px;
    background-color: royalblue;
    text-align: center;
}
#experience .contenedores1 .anio{
    width: 100%;
    height: 7.5%;
    background-color: white;
    text-align: center;
}
#experience .contenedores1 .imagen{
    width: 100%;
    height: 75%;
    
}
#experience .contenedores1 .imagen img{
    width: 100%;
    height: 100%;
    
}
#about{
    width: 100%;
    height: 500px;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about .descripcion{
    width: 400px;
    height: 500px;
    background-color: tomato;
    margin: auto;
}
#about .descripcion .img1{
    width: 100%;
    height: 70%;
    background-color: white;
    align-content: center;
  
} 
#about .descripcion .nombre{
    width: 100%;
    height: 7%;
    background-color: white;
   text-align: center;
   font-size: 24px;
  
} 
#about .descripcion .obj{
    width: 100%;
    height: 5%;
    background-color: rosybrown;
    text-align: center;
    font-size: 18px;
  
} 
#about .descripcion .img1 img{
    width: 100%;
    height: 100%;
      
} 
#contacto{
    margin: auto;
    width: 100%;
    height: 400px;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contacto span{
   
    font-size: 24px;
    text-align: center;
}
#contacto .control{
    margin: 5px;
    width: 300px;
    height: 40px;
    border: 1px red solid;
}
#contacto .boton{
    margin: 5px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: tomato;
}
#contacto .boton:hover{
    color: white;
    background-color: black;
}