body{
    background-color: black;
    margin: 0;
}
.inicio{
    background-color: hotpink;
    width: 100%;
    height: 50px;
}
.logo{
    width: 20%;
    height: 100%;
    background-color: indigo;
    float: left;
}
.navbar{
    float: right;
    width: 80%;
    height: 100%;
    background-color: red;
}
.logo span{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none; 
    margin-left: 20px; 
}
.logo span a{
    text-decoration: none;
    color: black;
}
.navbar .opciones{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.navbar .opciones li{
    margin: auto; 
	text-align: center;
	list-style-type: none;	
    font-size: 16px;
    color: white;
}
.navbar .opciones li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.navbar .opciones li a:hover{
    
    text-decoration: underline;
    
}
.hero{
    
    width: 100%;
    height: 500px;
    background-color: blanchedalmond;
}
.hero .carrusel{
    align-content: center;
    width: 70%;
    height: 450px;
    margin: auto;
    padding-top: 20px;
    
}
.hero .carrusel img{
    width: 100%;
    height: 100%;
}
#experience{
    width: 100%;
    height: 300px;
    background-color: blueviolet;
}